@keyframes slideIn{
    0%{left: -800px; transform: rotate(0deg)}
    100%{left: 0px;transform: rotate(360deg)}
}

.r-ball{
    background-color: red;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    animation: slideIn 3s linear;

}

.r-ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 40%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2; }

p{
    text-align: center;
    font-weight: bold;
    margin: 0;
    height: 80%;
    width: 80%;
}